.faq {
    color: white;
    margin: 20px;

    .link {
      border: solid 1px white;
      background-color: #40403f;
      margin: 20px;
      padding: 20px;
      display: flex;
      justify-content: center;
    }
    
  }