.faq {
    color: white;
    margin: 20px;

    .link {
      border: solid 1px white;
      background-color: #40403f;
      margin: 20px;
      padding: 20px;
      display: flex;
      justify-content: center;
    }

    .faqs {
      border-bottom: 1px solid black;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }

    .notice {
      margin: 20px;
      text-align: center;
    }
    
  }