.compare-the-magic {

  height: 100%;
  display: flex;
  flex-direction: column;
  width: 1000px;
  max-width: 800px;

  header {
    z-index: 1;
  }

  .tab-panel {
    grid-area: tab;
    overflow-y: auto;
  }

}

@media only screen and (max-width: 479px) {

  .compare-the-magic {
    padding: 0px;
    margin: 0px;
    border: 1px black;
    height: 100%;
    max-width: 100%;
  }

}

